/* Golbal */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f5afba;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #474646;
  --color-grey: #575757;
  --color-light-gery:#7c7971;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black:#000000;
  --color-apricot: #faa370;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --size-border-radius: 4px;
  --delay-transition-color: .3s;

  --size-rotate-image: 280px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

img {
  display: block;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: calc(var(--size-border-radius) * 0.5) solid var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
  margin: 20px 0px 0px 0px;
  font-weight: var(--weight-bold);
}

button.dark_grey {
  border: calc(var(--size-border-radius) * 0.5) solid var(--color-dark-grey);
  color: var(--color-dark-grey);
  transition: 
  background-color var(--delay-transition-color),
  color var(--delay-transition-color);
}

button.dark_grey:hover {
  background-color: var(--color-dark-grey);
  color:var(--color-white);
}

.inner {
  width: 1100px;
  margin: auto;
}

#navbar {
  background-color: var(--color-pink);
  
}
#navbar .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

#navbar .navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#navbar .navbar__menu {
  display: flex;
  flex-direction: row;
}

#navbar .navbar__menu .navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

#navbar .navbar__menu .navbar__menu__item.active {
  border: 2px solid var(--color-white);
  
}

#navbar .navbar__menu .navbar__menu__item:hover {
  background-color: royalblue;
  border: 2px solid var(--color-white);
}

#home {
  background-image: url("./imgs/home-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

#home .inner {
  text-align: center;
  height: 650px;
}

#home .flexContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  
}

#home .flexContainer .rotateImg {
  width: var(--size-rotate-image);
  height: var(--size-rotate-image);
  perspective: 600px;
}

#home .flexContainer .rotateImg .home__logo,
#home .flexContainer .rotateImg .home__profile {
  width: var(--size-rotate-image);
  height: var(--size-rotate-image);
  backface-visibility: hidden;
  transition: transform 1s;
}

#home .flexContainer .rotateImg .home__logo {
  position: absolute;
  transform: rotateY(0deg);
}

#home .flexContainer .rotateImg:hover .home__logo {
  transform: rotateY(180deg);
}

#home .flexContainer .rotateImg .home__profile {
  border-radius: 50%;
  border: calc(var(--size-border-radius) * 0.5) solid var(--color-white);
  transform: rotateY(-180deg);
}

#home .flexContainer .rotateImg:hover .home__profile {
  transform: rotateY(0deg);
}

#home .flexContainer .rotateImg .front .home__logo {
  transform: rotateY(0deg);
}

#home .flexContainer .rotateImg .back .home__profile {
  transform: rotateY(-180deg);
}


.section {
  padding: 40px;
  text-align: center;
}

#about .about__stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

#about .about__stack .stack .stack__icon {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  position: relative;
  transition: all 700ms ease;
}

#about .about__stack .stack .stack__icon .icon__blobs {
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0px;
  z-index: -1;
}

#about .about__stack .stack .stack__icon .icon__blobs div {
  background-color: var(--color-blue);
  width: 45%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%);
  transition: all .7s ease;
}

#about .about__stack .stack .stack__icon .icon__blobs> div:nth-child(1) {
  left: -5%;
}
#about .about__stack .stack .stack__icon .icon__blobs> div:nth-child(2) {
  left: 30%;
  transition-delay: .06s;
}
#about .about__stack .stack .stack__icon .icon__blobs> div:nth-child(3) {
  left: 66%;
  transition-delay: .025s;
}

#about .about__stack .stack .stack__icon:hover{
  color:var(--color-white);
}

#about .about__stack .stack .stack__icon:hover .icon__blobs> div{
  transform: scale(1.4) translateY(0) translateZ(0);
}

#about .about__stack .stack .stack__title,
#about .about__stack .stack .stack__description {
  color: var(--color-dark-grey);
}

#about .about__stack .stack .stack__description {
  font-size: var(--font-small);
}

#skills {
  background-color: var(--color-yellow);
  color:var(--color-white);
}

#skills .skillSet {
  display: flex;
  margin: 20px;
}

.skillSet .skillSet__title {
  color: var(--color-white);
}

.skillSet .skillSet__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 30px;
}

.skillSet__left .skill {
  margin-bottom: 30px;
}

.skillSet__left .skill__description {
  display: flex;
  justify-content: space-between;
}

.skillSet__left .skill .skill__bar {
  width: 100%;
  height: 10px;
  border: 1px solid var(--color-blue);
  border-radius: var(--size-border-radius);
  background-color: var(--color-light-gery);
}

.skill__bar .skill__value {
  height: 8px;
  border-radius: var(--size-border-radius);
  background-color: var(--color-apricot);
  transition: width 3.0s ease-out;
}

.skill__value.HTML {
  width: 0px;
}

.show .skill__value.HTML {
  width: 85%;
}

.skill__value.CSS {
  width: 0px;
}

.show .skill__value.CSS {
  width: 70%;
}

.skill__value.JS {
  width: 0px;
}

.show .skill__value.JS {
  width: 70%;
}

.skill__value.C {
  width: 0px;
}

.show .skill__value.C  {
  width: 60%;
}

.skillSet .skillSet__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
}

.skillSet__right .tools {
  flex-basis: 50%;
}

.skillSet__right .etc {
  flex-basis: 50%;
  background-color: var(--color-light-gery);
}

#myWork {
  background-color: palevioletred;
}

#testimonials {
  background-color: purple;
}

#contact {
  background-color: royalblue;
}