/* Golbal */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f5afba;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #474646;
  --color-grey: #808080;
  --color-light-gery:#7c7971;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black:#000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --size-border-radius: 4px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.inner {
  width: 1100px;
  margin: auto;
  background-color: orange;
}

#navbar {
  background-color: var(--color-pink);
  
}
#navbar .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

#navbar .navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#navbar .navbar__menu {
  display: flex;
  flex-direction: row;
}

#navbar .navbar__menu .navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

#navbar .navbar__menu .navbar__menu__item.active {
  border: 1px solid var(--color-white);
  
}

#navbar .navbar__menu .navbar__menu__item:hover {
  background-color: royalblue;
  border: 1px solid var(--color-white);
}

#home {
  background-color: orchid;
}

#about {
  background-color: palegoldenrod;
}

#skills {
  background-color: paleturquoise;
}

#myWork {
  background-color: palevioletred;
}

#testimonials {
  background-color: purple;
}

#contact {
  background-color: royalblue;
}
