body {
  line-height: 1.4;
}

#navbar {
  background-color: orangered;
}

#home {
  background-color: orchid;
}

#about {
  background-color: palegoldenrod;
}

#skills {
  background-color: paleturquoise;
}

#myWork {
  background-color: palevioletred;
}

#testimonials {
  background-color: purple;
}

#contact {
  background-color: royalblue;
}
.inner {
  width: 1400px;
  margin: auto;
  background-color: orange;
}